<ng-container>
    <div class="col-12 m-0 p-0">
        <div class="row m-0 p-0">
            <div class="col-4 m-0 p-0"></div>
            <div class="col-4 m-0 p-0">
                <div class="row m-0 p-0 pt-5 pb-3">
                    <div class="col-12 m-0 p-0 text-center">
                        ¡Sé un agente multibanco Kasnet!
                    </div>
                </div>
                <div class="row m-0 p-0">
                    <div class="col-12 m-0 p-0 pb-2">
                        <input type="text" placeholder="Nombres" class="form-control">
                    </div>
                    <div class="col-12 m-0 p-0 pb-2">
                        <input type="text" placeholder="Apellido Paterno" class="form-control">
                    </div>
                    <div class="col-12 m-0 p-0 pb-2">
                        <input type="text" placeholder="Apellido Materno" class="form-control">
                    </div>
                    <div class="col-12 m-0 p-0 pb-2">
                        <div class="row m-0 p-0">
                            <div class="col-6 m-0 p-0">
                                <input type="text" placeholder="Correo Electrónico" class="form-control">
                            </div>
                            <div class="col-6 m-0 p-0">
                                <select name="" id="" class="form-control">
                           <option value="">gmail.com</option>
                           <option value="">hotmail.com</option>
                           <option value="">outlook.live.com</option>
                           <option value="">yahoo.com</option>
                       </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 m-0 p-0 pb-2">
                        <select name="" id="" class="form-control">
                       <option value="">¿Cuenta con RUC?</option>
                   </select>
                    </div>
                    <div class="col-12 m-0 p-0 pb-2">
                        <select name="" id="" class="form-control">
                        <option value="">Departamento</option>
                    </select>
                    </div>
                    <div class="col-12 m-0 p-0 pb-2">
                        <select name="" id="" class="form-control">
                        <option value="">Provincia</option>
                    </select>
                    </div>
                    <div class="col-12 m-0 p-0 pb-2">
                        <select name="" id="" class="form-control">
                        <option value="">Distrito</option>
                    </select>
                    </div>
                    <div class="col-12 m-0 p-0">

                    </div>
                    <div class="col-12 m-0 p-0 text-center">
                        <button class="btn btn-primary">Registrarse</button>
                    </div>

                </div>
            </div>
            <div class="col-4 m-0 p-0"></div>
        </div>
    </div>
</ng-container>