<ng-container>
    <div class="col-12 m-0 p-0">
        <div class="row m-0 p-0">
            <div class="col-1 m-0 p-0"></div>
            <div class="col-10 m-0 p-0">
                <div class="col-12 m-0 p-0 text-center pt-3 pb-3">
                    Validación de tu RUC y Dirección
                </div>
                <div class="col-12 m-0 p-0 text-center">
                    <input type="radio" name="" id="rdpersona"><span style="margin-right: 20px;">Persona Natural</span>
                    <input type="radio" name="" id="rdpersona"><span style="margin-right: 20px;">Persona Jurídica</span>
                    <input type="text" placeholder="Ingrese RUC" style="margin-right: 20px;">
                    <input type="text" placeholder="Ingrese DNI del titular del comercio">
                </div>
                <div class="col-12 m-0 p-0 text-center pt-3">
                    <div class="row m-0 p-0">
                        <div class="col-6 m-0 p-0">
                            <span>Información del Agente registrado en SUNAT</span>
                        </div>
                        <div class="col-6 m-0 p-0">
                            <button class="btn btn-primary">Registrar RUC</button>
                        </div>
                    </div>
                    <div class="row m-0 p-0">
                        <div class="col-12 m-0 p-0 text-center">
                            <table>
                                <tr>
                                    <td>RUC</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Nombre o Razon Social</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Contribuyente</td>
                                    <td></td>
                                    <td>Condicion de Domicilio</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Tipo de Vía</td>
                                    <td></td>
                                    <td>Nombre de Via</td>
                                    <td></td>
                                    <td>Número</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Interior</td>
                                    <td></td>
                                    <td>Lote</td>
                                    <td></td>
                                    <td>Departamento</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Manzana</td>
                                    <td></td>
                                    <td>Kilómetro</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 m-0 p-0 pt-4">
                    <div class="row m-0 p-0">
                        <div class="col-12 m-0 p-0 pb-3">
                            La dirección mostrada corresponde a la dirección actual de mi LOCAL COMERCIAL
                        </div>
                    </div>
                </div>
                <div class="col-12 m-0 p-0 pb-2" style="border: 1px solid; padding: 15px !important; border-radius: 10px;">
                    <div class="col-12 m-0 p-0">
                        Dirección del Comercio
                    </div>
                    <div class="row m-0 p-0">
                        <div class="col-3 m-0 p-0">
                            <select name="" id="">
                               <option value="">Tipo de Via</option>
                           </select>
                        </div>
                        <div class="col-3 m-0 p-0">
                            <input type="text" placeholder="Nombre de Via">
                        </div>
                        <div class="col-2 m-0 p-0">
                            <input type="text" placeholder="Número">
                        </div>
                        <div class="col-2 m-0 p-0">
                            <input type="text" placeholder="Interior">
                        </div>
                        <div class="col-2 m-0 p-0">
                            <input type="text" placeholder="Lote">
                        </div>
                    </div>

                    <div class="row m-0 p-0 pt-2">
                        <div class="col-3 m-0 p-0">
                            <input type="text" placeholder="Manzana">
                        </div>
                        <div class="col-3 m-0 p-0">
                            <input type="text" placeholder="Kilómetro">
                        </div>
                        <div class="col-2 m-0 p-0">
                            <select name="" id="">
                               <option value="">Departamento</option>
                           </select>
                        </div>
                        <div class="col-2 m-0 p-0">
                            <select name="" id="">
                                <option value="">Provincia</option>
                            </select>
                        </div>
                        <div class="col-2 m-0 p-0">
                            <select name="" id="">
                                <option value="">Distrito</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-12 m-0 p-0 pb-2" style="border: 1px solid; padding: 15px !important; border-radius: 10px;">
                    <div class="row m-0 p-0 pb-2">
                        <div class="col-6 m-0 p-0">
                            <label style="margin-right: 10px;">Razón Social</label>
                            <input type="text" placeholder="Indicar">
                        </div>
                        <div class="col-6 m-0 p-0">
                            <label style="margin-right: 10px;">Denominacion Comercial</label>
                            <input type="text" placeholder="Indicar">
                        </div>
                    </div>
                    <div class="row m-0 p-0 pb-2">
                        <div class="col-6 m-0 p-0">
                            <label style="margin-right: 10px;">CIIU</label>
                            <select name="" id="">
                               <option value="">Seleccione</option>
                           </select>
                        </div>
                        <div class="col-6 m-0 p-0">
                            <label style="margin-right: 10px;">Años de experiencia en Mdo.</label>
                            <input type="text" placeholder="Indicar">
                        </div>
                    </div>
                    <div class="row m-0 p-0 pb-2">
                        <div class="col-2 m-0 p-0">
                            <label for="">Regimen Tributario</label>
                        </div>
                        <div class="col-2 m-0 p-0">
                            <input type="radio"><span>Regimen General (RG)</span>
                        </div>
                        <div class="col-3 m-0 p-0">
                            <input type="radio"><span>Regimen Unico Simplificado (RUS)</span>
                        </div>
                        <div class="col-3 m-0 p-0">
                            <input type="radio"><span>Regimen Especial de Renta (RER)</span>
                        </div>
                        <div>
                            <input type="radio"><span>Regimen Mype tributario (RMT)</span>
                        </div>
                    </div>
                    <div class="row m-0 p-0">
                        <div class="col-6 m-0 p-0">
                            <label style="margin-right: 10px;">Cargo</label>
                            <input type="text">
                        </div>
                        <div class="col-6 m-0 p-0">
                            <label style="margin-right: 10px;">Poderes Inscritos</label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="row m-0 p-0"></div>
                </div>
                <div class="col-12 m-0 p-0" style="border: 1px solid; padding: 15px !important; border-radius: 10px;">
                    <div class="row m-0 p-0">
                        <div class="col-12 m-0 p-0">
                            De contar con un AFILIADOR ingrese su DNI, de lo contrario dejar este dato en blanco.
                        </div>
                    </div>
                    <div class="col-12 m-0 p-0">
                        Ejecutivo Comercial (Afiliador)
                    </div>
                    <div class="col-12 m-0 p-0">
                        <input type="text" placeholder="DNI del Ejecutivo Comercial">
                    </div>
                </div>
            </div>
            <div class="col-1 m-0 p-0"></div>
        </div>
    </div>
</ng-container>